<!-- index.nunjucks -->
{% extends "./base_template.html" %}
{%import "./partials/common_macros.html" as commonMacros %}
{% block header %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{card.title}}</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />

{% endblock %}

{% block content %}
  <h2>Welcome To Roanuz CricketAPI Sample Code</h2>
{% endblock %}

